################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Galois/Galois.VC.db
/Galois/Galois.VC.VC.opendb
